@font-face {
  font-family: 'PTSans';
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PTSans';
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
