.icon {
  display: inline-block;
  vertical-align: middle;
  content: "";
}

/* На всякий случай не стал удалять
.icon--tw {
  width: 18px;
  height: 15px;
  background: url(../img/icon-twitter.svg) no-repeat center;
}

.icon--fb {
  width: 9px;
  height: 19px;
  background: url(../img/icon-facebook.svg) no-repeat center;
}

.icon--yt {
  width: 20px;
  height: 14px;
  background: url(../img/icon-youtube.svg) no-repeat center;
}

.icon--academy {
  width: 27px;
  height: 34px;
  background: url(../img/logo-htmlacademy.svg) no-repeat center;
}

.icon--like {
  width: 23px;
  height: 21px;
  background: url(../img/icon-like.svg) no-repeat center;
}
*/
