body {
	text-align: center;
	font-family: "PTSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #333333;
	background-color: #fff;
}

@media (min-width: 1200px) {

	body {
		width: 1200px;
		margin: 0 auto;
		box-shadow: 0 0 11px 0 #ccc;
	}
}

