@import "../mixins.scss";

.feedback {
  @include sedona-bg-compact;
}

.feedback br {
  display: none;
}

.feedback__intro-wrap {
  @include container;
}

.feedback__headline {
  margin-top: 35px;
}

.feedback__intro {
  margin-top: 27px;
  line-height: 24px;
}

.feedback-form {
  text-align: left;
  margin-top: 18px;
}

.feedback-form fieldset {
  border-top: 1px solid #e5e5e5;;
}

.feedback-form__fieldset-wrap {
  @include container;
  margin-top: 17px;
  padding-bottom: 27px;
}

.feedback-form__fieldset-headline {
  text-align: center;
}

.feedback-form input[type="text"],
.feedback-form input[type="tel"],
.feedback-form input[type="email"],
.feedback-form__textarea {
  padding: 0 20px;
  font-size: 18px;
  line-height: 57px;
  font-weight: 800;
  color: #000;
  text-transform: none;
  background-color: #f2f2f2;

  &:hover {
  	background-color: #e5e5e5;
  }

  &:focus {
  	background-color: #fff;
  	box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.feedback-form input[type="tel"],
.feedback-form input[type="email"],
.feedback-form__textarea {
  width: 100%;
}

.feedback-form__user-name-item {
  margin-top: 21px;
  font-size: 0;
}

.feedback-form__fieldset-wrap--contacts {
  padding-bottom: 29px;
}

.feedback-form__user-contacts-phone {
  margin-top: 23px;
}

.feedback-form__user-contacts-email {
  margin-top: 45px;
}

.feedback-form__input-wrap {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    width: 57px;
    height: 57px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--phone::after {
    background-image: url(../img/icon-phone.svg);
  }

  &--email::after {
    background-image: url(../img/icon-mail.svg);
  }
}

.feedback-form__fieldset-wrap--impressions {
  padding-bottom: 27px;
}

.feedback-form__impressions-item {
  height: 56px;
  margin-top: 13px;
  font-size: 18px;
  font-weight: 800;
  text-transform: none;

  &:first-of-type {
    margin-top: 24px;
  }
}

.feedback-form__impressions-item > label {
  height: 100%;
}

.feedback-form__impressions-item-bg,
.feedback-form__visited-places-item-bg {
	display: inline-block;
	vertical-align: middle;
	width: 56px;
	height: 56px;
	margin-right: 19px;
}

.feedback-form__circle-bg--inner {
	visibility: hidden;
}


.feedback-form__visited-places-item {
  margin-top: 21px;
  font-size: 18px;
  line-height: 56px;
  font-weight: 800;
  text-transform: none;

  &:first-of-type {
    margin-top: 16px;
  }
}

.feedback-form__visited-places-item > label {
  height: 56px;
}

.feedback-form__tick-bg {
	visibility: hidden;
}

.feedback-form__additional-info-headline {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}

.feedback-form__textarea {
  margin-top: 20px;
  padding: 14px 20px;
  resize: none;
  line-height: 26px;
}

.feedback-form__fieldset-wrap--info {
  padding-bottom: 10px;
}

.feedback-form__submit-btn {
  margin-top: 50px;
  padding: 15px 0;
}

.feedback-form__required-fields-tip {
  display: none;
}

input[name="name"] {
  width: 82%;
}

label[for="name"] {
  width: 13%;
  margin-right: 5%;
}

input[name="surname"],
input[name="patronymic"] {
  width: 69.5%;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + label .feedback-form__circle-bg--inner {
  visibility: visible;
}

input[type="radio"]:focus + label .feedback-form__circle-bg--outer {
	fill: red;
}

input[type="radio"]:hover + label .feedback-form__circle-bg--outer,
input[type="checkbox"]:hover + label .feedback-form__rectangle-bg {
	fill: #e5e5e5;
}

input[type="checkbox"]:checked + label .feedback-form__tick-bg {
	visibility: visible;
}

label[for="surname"],
label[for="patronymic"] {
  width: 25%;
  margin-right: 5.5%;
}

input[name="name"],
input[name="surname"],
input[name="patronymic"],
label[for="name"],
label[for="surname"],
label[for="patronymic"] {
  display: inline-block;
  font-size: 14px;
}

label[for="phone"],
label[for="email"] {
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
}

::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}


/* Планшет */
@media (min-width: 768px) {

  .feedback {
    @include sedona-bg-tablet;
    margin-bottom: 50px;
  }

  .feedback-form {
    margin-top: 56px;
  }

  .feedback__intro-wrap {
    margin-top: 70px;
  }

  .feedback__headline {
    font-size: 30px;
    line-height: 36px;
  }

  .feedback__intro {
    max-width: 70%;
    margin: 26px auto 0 auto;
  }

  .feedback-form {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback-form fieldset {
    border-top: none;
  }

  .feedback-form__fieldset-wrap {
    @include clearfix;
    padding: 0;
    border-top: 1px solid #e5e5e5;
  }

  .feedback-form__user-name {
    order: 2;
    width: 50%;
  }

  .feedback-form__user-name-item:first-of-type {
    margin-top: 57px;
  }

  .feedback-form__fieldset-wrap--name {
    padding-left: 17%;
    border-top: none;
    border-left: 1px solid #e5e5e5;
  }

  .feedback-form__user-contacts {
    order: 3;
    width: 100%;
    margin-top: 66px;
  }

  .feedback-form__user-contacts-headline {
    width: 400px;
    margin: -14px auto 0 auto;
    background-color: #fff;
  }

  .feedback-form__user-contacts-phone {
    margin-top: 28px;
  }

  .feedback-form__user-contacts-email {
    margin-top: 26px;
  }

  .feedback-form__impressions {
    order: 1;
    width: 50%;
  }

  .feedback-form__impressions-item {
    margin-top: 22px;
  }

  .feedback-form__impressions-item:first-of-type {
    margin-top: 58px;
  }

  .feedback-form__impressions-headline,
  .feedback-form__user-name-headline {
    text-align: left;
  }

  .feedback-form__fieldset-wrap--impressions {
    border-top: none;
  }

  .feedback-form__visited-places {
    order: 4;
    width: 100%;
    margin-top: 62px;
  }

  .feedback-form__items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 17px;
  }

  .feedback-form__visited-places-headline {
    display: block;
    width: 400px;
    margin: -28px auto 0 auto;
    background-color: #fff;
  }

  .feedback-form__visited-places-item {
    flex-basis: 31%;
    margin-top: 30px;

    &:first-child,
    &:nth-child(2) {
      margin-top: 24px;
    }

    &:nth-child(2n) {
      text-align: left;
      margin-left: 9%;
    }
  }

  .feedback-form__impressions-item-bg {
  	margin-right: 14px;
  }

  .feedback-form__visited-places-item-bg {
  	margin-right: 19px;
  }

  .feedback-form__additional-info {
    order: 5;
    width: 100%;
    margin-top: 62px;
  }

  .feedback-form__additional-info-headline  {
  	display: block;
    width: 400px;
    margin: -14px auto 14px auto;
    font-size: 21px;
    background-color: #fff;
  }

  .feedback-form__textarea {
    margin-top: 47px;
  }

  .feedback-form__submit-btn {
    float: left;
    width: 50%;
    margin-top: 57px;
  }

  .feedback-form__required-fields-tip {
    float: right;
    display: block;
    margin-top: 77px;
  }
}


/* Десктоп */
@media (min-width: 1200px) {

  .feedback {
    @include sedona-bg-desktop;
    margin-bottom: 57px;
  }

  .feedback br {
    display: block;
  }

  .feedback-form {
    margin-top: 41px;
  }

  .feedback__intro-wrap {
    margin-top: 104px;
  }

  .feedback__intro {
  	margin-top: 23px;
  }

  .feedback-form__fieldset-wrap--name {
  	padding-left: 16%;
  }

	label[for="name"] {
	  margin-right: 0;
	}

	input[name="name"] {
		width: 87%;
	}

	label[for="surname"],
	label[for="patronymic"] {
	  width: 23%;
	  margin-right: 0;
	}
	
	input[name="surname"],
	input[name="patronymic"] {
		width: 77%;
	}
	

  .feedback-form__impressions-headline {
    text-align: center;
    margin-right: 45px;
  }

  .feedback-form__impressions-item {
  	margin-left: 5px;

  	&:first-of-type {
  		margin-top: 60px;
  	}
  }

  .feedback-form__user-contacts {
    margin-top: 64px;
    padding-bottom: 30px;
  }

  .feedback-form__user-contacts-item {
    float: left;
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 75px;
  }

  .feedback-form__user-contacts-item > label {
    margin: 0 21px 0 0;
  }

  .feedback-form__user-contacts-phone {
    padding-right: 8.5%;
  }

  .feedback-form__input-wrap--phone,
  .feedback-form__input-wrap--email {
    flex-grow: 1;
  }

  .feedback-form__visited-places {
    margin-top: 33px;
  }

  .feedback-form__items-container {
    justify-content: space-between;
    margin-top: 17px;
  }

  .feedback-form__visited-places-item {
    flex-basis: auto;
    margin-top: 24px;

    &:first-child,
    &:nth-child(2n) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .feedback-form__additional-info {
  	margin-top: 60px;
  }

  .feedback-form__textarea {
    height: 158px;
  }
}


