.gallery {
  @include sedona-bg-compact;

  &__headline {
    margin-top: 40px;
  }
  &__intro {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 24px;
  }
  &__item {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 15px;
    line-height: 24px;
    font-weight: 800;
    border-top: 1px solid #e5e5e5;
  }
  &__item-name {
    margin-top: 12px;
  }
  &__item-author {
    font-weight: 400;
    text-transform: none;
  }
  &__likes-count {
    margin-top: 12px;
  }
}

