.map {

  &__wrap {
    height: 350px;
    background: url(../img/bg-map-mobile@1x.jpg) no-repeat center;
    background-size: auto 100%;
  }
}

/* Планшет */
@media (min-width: 768px) {

  .map {

    &__wrap {
      background: url(../img/map-tablet.jpg) no-repeat center;
    }
  }
}

