@import "../mixins.scss";

.promo-video {
  margin-top: 15px;
  margin-bottom: 30px;

  &__wrap {
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
  }

  &__paragraph {
    margin-top: 30px;
    line-height: 24px;
  }

  &__video-wrap {
    margin-top: 32px;
  }

  &__preview-img-wrap {
    width: 100%;
    height: 202px;
    background: url(../img/video-mobile@1x.jpg) no-repeat center;
    background-size: cover;
  }
}

/* Планшет */
@media (min-width: 768px) {

  .promo-video {

    &__wrap {
      border-top: none;
    }

    &__preview-img-wrap {
      background: url(../img/video-tablet.jpg) no-repeat center;
      background-size: cover;
    }
  }
}

/* Десктоп */
@media (min-width: 1200px) {


}


