@import "../mixins.scss";

.site-footer {
	text-align: center;
	padding: 35px 0 20px 0;
}

.site-footer__wrap {
	@include container;
}

.site-footer__social {
	margin-top: 38px;
}

.site-footer__references {
	margin-top: 40px;
	line-height: 26px;
}

.site-footer__references-link {
	display: inline-block;
	vertical-align: middle;
	word-spacing: 10px;
}

.site-footer .logo-academy {
	display: inline-block;
	vertical-align: middle;
}

.logo-academy:hover {
	fill: #81b3d2;
}

.logo-academy:active {
	fill: #b2b2b2;
}


/* Планшет */
@media (min-width: 768px) {

	.site-footer {
		padding: 37px 0;
		font-size: 0;
	}

	.site-footer__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.site-footer__hashtag,
	.site-footer__social,
	.site-footer__references {
		margin: 0;
		margin-top: 0;
	}

	.site-footer__social {
		margin-left: -7px;
	}

	.site-footer__hashtag {
		text-align: left;
		font-size: 21px;
	}

	.site-footer__references {
		text-align: right;
		font-size: 14px;
	}
}


/* Десктоп */
@media (min-width: 1200px) {

	.site-footer__hashtag {
		margin-top: -5px;
		margin-left: 12px;
	}

	.site-footer__social {
		margin-left: -94px;
	}

	.site-footer__references {
		margin-top: -3px;
		margin-right: -76px;
		line-height: 36px;
	}
}
