@import "../mixins.scss";

.site-intro {
	line-height: 26px;
}

.site-intro__bg-wrap {
	content: "";
	height: 390px;
	background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
							#82b4cf url(../img/bg-back-mobile@1x.jpg) no-repeat center top;
	background-size: 101% 26px, 768px auto;
}

@media (max-width: 767px) and (min-resolution: 144dpi),
			(max-width: 767px) and (min-resolution: 1.5dppx) {

	.site-intro__bg-wrap {
		background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
								#82b4cf url(../img/bg-back-mobile@2x.jpg) no-repeat center top;
		background-size: 101% 26px, 768px auto;
	}
}

.site-intro__bg-wrap > img {
	margin: 73px auto 0 auto;
}

.site-intro__text-wrap {
	padding: 0 30px;
}

.site-intro__headline {
	margin-top: 40px;
}

.site-intro__paragraph {
	margin-top: 26px;
}


/* Планшет */
@media (min-width: 768px) {

	.site-intro__bg-wrap {
		height: 518px;
		background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
								url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
								#82b4cf url(../img/bg-back-tablet@1x.jpg) no-repeat center bottom;
		background-size: 700px 55px, 101% 35px, 100% 518px;
	}

	@media (min-resolution: 144dpi),
				(min-resolution: 1.5dppx) {
		
		.site-intro__bg-wrap {
			height: 518px;
			background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
									url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
									#82b4cf url(../img/bg-back-tablet@2x.jpg) no-repeat center bottom;
			background-size: 700px 55px, 101% 35px, 100% 518px;
		}
	}

	.site-intro__bg-wrap > img {
		width: 460px;
		height: 400px;
		margin: 53px auto 0 auto;
	}

	.site-intro__text-wrap {
		margin-top: 51px;
		padding: 0 17%;
	}

	.site-intro__paragraph {
		margin-top: 28px;
	}
}


/* Десктоп */
@media (min-width: 1200px) {

	.site-intro__bg-wrap {
		height: 518px;
		background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
								url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
								#82b4cf url(../img/bg-back-desktop@1x.jpg) no-repeat center bottom;
		background-size: 700px 55px, 101% 55px, 100% 518px;
	}

	@media (min-resolution: 144dpi),
				(min-resolution: 1.5dppx) {
		
		.site-intro__bg-wrap {
			background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
									url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
									#82b4cf url(../img/bg-back-desktop@2x.jpg) no-repeat center bottom;
			background-size: 700px 55px, 101% 55px, 100% 518px;
		}
	}

	.site-intro__bg-wrap > img {
		width: 460px;
		height: 400px;
		margin: 53px auto 0 auto;
	}

	.site-intro__text-wrap {
		max-width: 490px;
		margin: 0 auto;
		padding: 0;
	}

	.site-intro__headline {
		margin-top: 50px;
	}
}
