@import "../mixins.scss";

.site-header {
  position: relative;
}

.site-header__mobile-panel {
  @include container;
  position: relative;
  min-height: 56px;
}

.site-header__logo-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 100px;
  height: 83px;
  margin: 0 auto 0 -50px;
  background: url(../img/logo-sedona-mobile.svg) no-repeat center top;
}

.site-header__navigation-open-btn {
  position: relative;
  float: right;
  width: 25px;
  height: 20px;
  margin-top: 18px;
  font-size: 0;
  cursor: pointer;
  background-color: inherit;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2,
                0 16px 0 0 #81b3d2;
  }
}


/* Планшет */
@media (min-width: 768px) {
	
	.site-header__logo-wrap {
		background: url(../img/logo-sedona-tablet.svg) no-repeat center top;
	}

  .site-header__navigation-open-btn {
    display: none;
  }

  .site-header__mobile-panel {
    position: static;
    min-height: auto;
  }
}


/* Десктоп */
@media (min-width: 1200px) {

  .site-header__logo-wrap {
    width: 188px;
    height: 96px;
    margin-left: -94px;
    background: url(../img/logo-sedona-desktop.svg) no-repeat center;
  }
}
