.social {
  font-size: 21px;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  font-size: 0;
  overflow: hidden;
  background-color: #81b3d2;

  &--tw {
    padding-top: 14px;
  }

  &--fb {
    padding-top: 13px;
  }

  &--yt {
    padding-top: 13px;
  }
}

