.social {
	font-size: 21px;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 47px;
	height: 47px;
	font-size: 0;
	overflow: hidden;
	background-color: #81b3d2;

	&--tw {
		padding-top: 16px;
		padding-left: 2px;
	}

	&--fb {
		padding-top: 14px;
	}

	&--yt {
		padding-top: 17px;
		padding-left: 2px;
	}
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	box-shadow: #5496bd;
}

.social-btn:active > svg {
	fill: #88b6d1;
}

