@import "../mixins.scss";

.video-controls {
	@include container;
	margin-top: -46px;
	padding-top: 0;
}

.video-controls__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 110px;
	padding: 0 21px;
	background: rgba(0,0,0, 0.5) url(../img/controls-bg.jpg) no-repeat center bottom;
	background-size: 100% 63px;
	opacity: 0.99;
}

.video-controls__rewind {
	width: 100%;
	height: 46px;
	background-color: transparent;
}

.video-controls__replay-btn {
	width: 20px;
	height: 25px;
}

.video-controls__cc-btn {
	width: 36px;
	height: 25px;
	margin-left: auto;
	margin-right: 11%;
}

.video-controls__fullscreen-btn {
	width: 26px;
	height: 25px;
}

.video-controls__replay-btn,
.video-controls__cc-btn,
.video-controls__fullscreen-btn {
	font-size: 0;
	background-color: transparent;
	cursor: pointer;
}

.video-controls__replay-btn > svg ,
.video-controls__cc-btn > svg,
.video-controls__fullscreen-btn > svg {
	fill: #5c6870;
}

.video-controls__replay-btn:hover > svg ,
.video-controls__cc-btn:hover > svg,
.video-controls__fullscreen-btn:hover > svg {
	fill: #333333; 
}

.video-controls__replay-btn:active > svg ,
.video-controls__cc-btn:active > svg,
.video-controls__fullscreen-btn:active > svg {
	fill: #c1c1c1; 
}


/* Планшет */
@media (min-width: 768px) {

	.video-controls {
		margin-top: -93px;
		padding: 0;
	}

	.video-controls__wrap {
		align-items: center;
		height: 93px;
		padding: 0 36px;
		background: rgba(0,0,0, 0.5);
	}

	.video-controls__rewind {
		width: auto;
		flex-basis: 68%;
		margin-left: 5px;
	}

	.video-controls__cc-btn {
		margin: 0;
	}

	.video-controls__replay-btn {
		order: -1;
	}

	.video-controls__replay-btn > svg ,
	.video-controls__cc-btn > svg,
	.video-controls__fullscreen-btn > svg {
		fill: #fff;
	}

	.video-controls__replay-btn:hover > svg ,
	.video-controls__cc-btn:hover > svg,
	.video-controls__fullscreen-btn:hover > svg {
		fill: #c1c1c1;
	}

	.video-controls__replay-btn:active > svg ,
	.video-controls__cc-btn:active > svg,
	.video-controls__fullscreen-btn:active > svg {
		fill: #c1c1c1; 
	}
}


/* Планшет */
@media (min-width: 1200px) {
	
	.video-controls {
		padding: 0;
	}

	.video-controls__rewind {
		flex-basis: 75%;
	}
}
